body {
    font-size: 11px; 
    margin: 30px; 
    color: #555; 
    font-family: verdana, arial;
}
.text, .select {
    font-weight: bold; 
    font-size: 11; 
    font-family: verdana, arial;
}
input.button {
    font-weight: bold; 
    font-size: 11; 
    padding-bottom: 1px; 
    width: 100px; 
    padding-top: 1px; 
    font-family: verdana, arial;
}
a {
    color: #3068b5; 
    text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
.multiselect {
    font-size: 11px; 
    color: #555;
    width: 150px; 
    height: 60px;
}
img.arrow {
 border: solid 1px #dddddd;
}
.table-result {
/*  width: 562px; */
  bgcolor: white;
  font-size: 11px;
  border: solid 1px #aaaaaa;
}
.table-result th {
  background-image: url(../images/shadeactive.gif);
  /* background: #d3e3e2; */
}
.table-result td {
  border-top: dotted 1px #aaaaaa;
}
.srclabel, table td {
    font-weight: bold;
    font-size: 11;
}
