<Search Framework Releases>

  <<General Availability (GA) Releases:>>

  * Distribuição mínima:\
    Inclui unicamente a componente que permite integrar a <framework> JFreeeReport na <framework> de pesquisa.

    {{{assembly/search-jfreereport-${project.version}-bin.zip} search-jfreereport-${project.version}-bin.zip}}

  
  * Distribuição completa:\
    Esta distribuição inclui todas as dependências.

    {{{assembly/search-jfreereport-${project.version}-dep.zip} search-jfreereport-${project.version}-dep.zip}}
    
